@charset 'UTF-8';
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:white;
    opacity: 1;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(121,9,95);
    background: linear-gradient(0deg, rgba(121,9,95,1) 20%, rgba(36,0,22,1) 100%);
}
.app {

     @import "./contactList";
         
        .router-link-exact-active {
            background-color: #fff;
            color: #232323;
        }
}

header  {
    text-align: center;
    color: white;
    margin: 0 0 3em 0;
    border-bottom: 1px solid;
    padding: 0.5em;
}

nav {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    margin: 1em;

    ul {
        padding: 0px;
        list-style: none;
        display: block;
        flex-direction: row;
        flex-flow: row wrap;

        li{ 
            width: 100%;
            a {
                letter-spacing: 0.5px;
                -webkit-transition: color 2s, background 1s;
                transition: color 2s, background 1s;
                padding: 15px 30px;
                position: relative;
                font-weight: 600;
                z-index: 0;
                color: white;
                display: block;
                margin-bottom: 10px;
                text-decoration: none;
                border: 2px solid #fff;
        
                &:hover {
                    -webkit-transition: color 2s, background 1s;
                    transition: color 2s, background 1s;
                    background-color: #fff;
                    color: #232323;
                }
            }
        }
    }
}

main {
    flex: 1;
    -webkit-box-flex: 1;

    @import "./home";
}

@media (min-width: 768px) {
    .app {
     width: 100%;
    }
    nav {
        width: 15%;
        float: left;
    }
    main {
        margin-left: 18%;
        margin-top: 3%;
    }
  }
  