.carousel__images {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.carousel__images__name {
  text-transform: capitalize;
  text-align: center;
  margin-top: 5px;
}
.carousel__images img {
  box-shadow: 1px 1px 10px #999;
  border-radius: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .carousel__images {
    display: block;
    height: 50px;
  }
  .carousel__images div {
    display: inline-block;
  }
}
