
.carousel {
    
    &__images {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;

        &__name {
            text-transform: capitalize;
            text-align: center;
            margin-top:5px;
        }
        img {
            box-shadow: 1px 1px 10px #999;
            border-radius: 10px;
            cursor: pointer;
        }
    }

}

@media (min-width: 768px) {

    .carousel {
    
        &__images {
            display: block;
            height: 50px;

            div {
                display: inline-block;
            }
        }
    }
}